# Default values for gympal-backend.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1
# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: ghcr.io/smyha/gympal-backend
  # This sets the pull policy for images.
  pullPolicy: Always # The image will always be pulled from the repository when a pod is started. This is useful for development and testing when images are frequently updated. ArgoCD will use this to always check for new image versions.
  # Overrides the image tag whose default is the chart appVersion.
  tag: "7d2edce" # Override the image tag to use a specific version of the image. ArgoCD will use this to determine if there is a new version to deploy.
# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets:
  - name: ghcr-secret # Secret that contains github token for authentication
# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 3000
# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    cert-manager.io/cluster-issuer: selfsigned-cluster-issuer # Uncomment this line to enable cert-manager with a specific cluster issuer. This will create TLS certificates for the backend.
  hosts:
    - host: app.gympal.com
      paths:
        - path: /api
          pathType: Prefix
          backend:
            service:
              name: gympal-backend
              port:
                number: 3000
  tls:
    - hosts:
        - app.gympal.com
      secretName: gympal-app-tls
resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi
# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /api/health
    port: http
  initialDelaySeconds: 10
  periodSeconds: 15
  timeoutSeconds: 3
  failureThreshold: 3
readinessProbe:
  httpGet:
    path: /api/health
    port: http
  initialDelaySeconds: 10
  periodSeconds: 15
  timeoutSeconds: 3
  failureThreshold: 3
# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80
envSecrets:
  # Backend Secrets
  SUPABASE_URL: "https://rkqwxbynswjpwibflfik.supabase.co"
  SUPABASE_ANON_KEY: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJrcXd4Ynluc3dqcHdpYmZsZmlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEwMDkxNzgsImV4cCI6MjA3NjU4NTE3OH0.-gdk8ZdmvfPHCvHgMtjDGBu7LdggakgPuNVckHTdkwo"
  SUPABASE_SERVICE_KEY: "your_supabase_service_role_key_here"
  JWT_SECRET: "your_jwt_secret_minimum_32_characters_long_random_string"
  SMTP_PASS: "your_smtp_password"
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "postgres"
envConfigMap:
  # Frontend Configs
  FRONTEND_URL: "https://app.gympal.com"
